.header1{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0B0B31;
    color: #9E9EA1;
}

.header2 {
    padding-left: 10%;
    padding-right: 10%;
}

header .row ul li a {
    color: #9E9EA1;
}



.headerButtons button {
    background-color: #0B0B31;
    padding-left: 1em;
    padding-right: 1em;
}

.heroSection {
    padding-left: 10%;
    padding-right: 10%;
}

.circle {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #9E9EA1;
}

.cardSection {
    padding-left: 10%;
    padding-right: 10%;
    
}

.card {
    border: 1px #0B0B31 solid;
    margin: 4px;
}